$button-padding-horizontal: 1.6

@if $is-rounded
  $button-padding-horizontal: 2.2

=button($color)
  +control
  cursor: pointer
  padding: ($control-padding - 1px) closestEvenNumber(ceil($control-padding * $button-padding-horizontal)) ($control-padding + 1px)
  @if (colorLuminance($color) > 0.8)
    background-color: $color
    border-color: darken($color, 20%)
    color: desaturate(darken($color, 50%), 10%)
    @if not $is-flat
      background-image: linear-gradient(lighten($color, 2%), darken($color, 3%))
      box-shadow: $control-shadow
      text-shadow: 0 1px 1px white
    &:hover
      @if $has-border
        border-color: darken($color, 30%)
      @else
        background-color: darken($color, 5%)
      color: desaturate(darken($color, 70%), 10%)
    &:active
      @if $has-border
        background: $color
      @else
        background: darken($color, 10%)
  @else if (colorLuminance($color) > 0.5)
    background-color: $color
    border-color: darken($color, 15%)
    color: desaturate(darken($color, 30%), 10%)
    @if not $is-flat
      background-image: linear-gradient(lighten($color, 15%), darken($color, 5%))
      box-shadow: $control-shadow
      text-shadow: 0 1px 1px rgba(white, .5)
    &:hover
      @if $has-border
        border-color: darken($color, 25%)
      @else
        background-color: darken($color, 5%)
      color: desaturate(darken($color, 40%), 10%)
    &:active
      @if $has-border
        background: $color
      @else
        background: darken($color, 10%)
  @else
    background-color: $color
    @if not $is-flat
      background-image: linear-gradient(adjust-hue(lighten($color, 5%), -5deg), $color)
      box-shadow: 0 1px 2px rgba(black, .2)
      text-shadow: 0 1px 1px rgba(black, .2)
    border-color: darken($color, 5%)
    color: white
    &:hover
      @if $has-border
        border-color: darken($color, 20%)
      @else
        background-color: darken($color, 5%)
    &:active
      @if $has-border
        background: $color
      @else
        background: darken($color, 10%)
  &:active
    box-shadow: inset 0 1px 2px rgba(black, .2)
