.input
  +control
  min-width: 240px
  @if not $is-flat
    box-shadow: $control-shadow-inset
  &:hover
    border-color: darken($control-border, 10%)
  &:active,
  &:focus
    border-color: $color-link

$select-arrow-color: findInvertColor($control-background)

.select
  display: inline-block
  height: $control-height
  position: relative
  vertical-align: top
  select
    +control
    @if not $is-flat
      background-image: linear-gradient(lighten($control-background, 10%), $control-background)
      box-shadow: $control-shadow
    cursor: pointer
    min-width: 240px
    padding-right: 36px
    &:hover
      border-color: darken($control-border, 10%)
    &:active,
    &:focus
      border-color: darken($control-border, 30%)
    &:hover
      border-color: darken($control-border, 10%)
      color: $control-color-hover
  &:after
    +arrow($select-arrow-color)
    margin-top: -5px
    right: 16px
    top: 50%
  &:hover
    &:after
      border-color: $control-color-hover

$checkbox-arrow-color: findInvertColor($color-link)

.checkbox
  cursor: pointer
  display: inline-block
  line-height: $size-text
  padding-left: $size-text + 4px
  position: relative
  vertical-align: top
  input
    +control
    border-radius: 1px
    cursor: pointer
    float: left
    height: $size-text
    left: 0
    padding: 0
    position: absolute
    top: 0
    width: $size-text
    @if not $is-flat
      box-shadow: $control-shadow-inset
    &:after
      +arrow($checkbox-arrow-color)
      height: 4px
      left: 50%
      margin: -3px 0 0 -3px
      opacity: 0
      position: absolute
      top: 50%
      transform: rotate(-45deg) scale(1)
    &:checked
      background: $color-link
      border: 0
      @if not $is-flat
        box-shadow: $control-shadow, $control-shadow-inset
      &:after
        opacity: 1
  &:hover
    input
      border-color: $color-link
      &:checked
        border-color: $color-link

$radio-dot: closestEvenNumber($size-text / 2) - 4px

.radio
  @extend .checkbox
  & + .radio
    margin-left: 10px
  input
    border-radius: 290486px
    &:after
      background: $checkbox-arrow-color
      border: 0
      border-radius: 290486px
      height: $radio-dot
      left: 50%
      margin-left: - ($radio-dot / 2)
      margin-top: - ($radio-dot / 2)
      top: 50%
      transform: none
      width: $radio-dot

$title-color: $color-title
$title-size: closestEvenNumber($size-text * 3)

.title
  color: $title-color
  font-size: $title-size
  font-weight: 300
  line-height: 1.2

$subtitle-size: closestEvenNumber($size-text * 1.2)

.subtitle
  color: $title-color
  font-size: $subtitle-size
  font-weight: bold
  line-height: 1.2
