// Colors

$color-background:     #f5f7fa
$color-border:         #ebeff5
$color-link:           #008cdd
$color-link-secondary: #6f7c82
$color-status-success: #64bd2e
$color-status-info:    #008cdd
$color-status-warning: #ffde24
$color-status-danger:  #fa6d46
$color-text-body:      #6f7c82
$color-text-title:     #292e31
$color-text-secondary: #b0bfc7

// Typography

$family-body:  "Open Sans"
$family-title: "DIN Alternate"

$size-control-normal: 32px
$size-control-small:  28px
$size-control-large:  40px
$size-text-body:      16px

// Booleans

$has-border: 1

$is-flat: 1
